<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApp2.Properties.Settings.BIPSDBREVISIONConnectionString"
            connectionString="Data Source=DESKTOP-DG879QN\BIPSCSHARP;Initial Catalog=BIPSDBREVISION;Persist Security Info=True;User ID=sa;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WpfApp2.Properties.Settings.BIPSDBREVISIONConnectionString1"
            connectionString="Data Source=DESKTOP-DG879QN\BIPSCSHARP;Initial Catalog=BIPSDBREVISION;Persist Security Info=True;User ID=sa;Password=bips@123;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>